<script>
  //redirect recharge login page to Shopify login page
  if(document.querySelector("#content__login.recharge.page__login")){
    window.location.replace("https://mushroommatrix.com/account");
  }
</script>
    

<!-- Back in Stock helper snippet -->
{%- comment -%}{% render 'back-in-stock-helper' %}{%- endcomment -%}
<!-- End Back in Stock helper snippet -->
{%- comment -%}{% render 'wholesale-now', customer: customer, template: template, product: product, cart: cart %}{%- endcomment -%}

{%- comment -%}
<script>
      var collectionMM = [{%  for product in collections['buy-once-products'].products %}{% unless forloop.first %},{%  endunless %}"{{  product.id }}"{% endfor %}];
      var collectionMMVariants = {
        {%  for product in collections['buy-once-products'].products %}
          {%  for variant in product.variants %}
            "{{  variant.id }}": "{{  variant.title }}",
          {% endfor %}
        {% endfor %}
      };
      
      {% if customer %}
        {% assign wholesale_tags = settings.wholesale_tags | newline_to_br | split: '<br />' %}
        {% assign wholesale_discounts = settings.wholesale_discounts | newline_to_br | split: '<br />' %}
        {% assign discount = 0 %}
      
        {% for tag in wholesale_tags %}
          {% assign clean_tag = tag | strip %}
          {% if customer.tags contains clean_tag %}
            {% assign this_discount = wholesale_discounts[forloop.index0] | plus: 0 %}
            {% if this_discount > discount %}
              {% assign discount = this_discount %}
            {% endif %}
          {% endif %}
        {%  endfor %}
      
        {% if discount > 0 %}
          var wholesaleDiscount = {{ discount }};
        {% endif %}

        {% if cart %}
          {%  assign cartPrice = 0 %}
          {%  for item in cart.items %}
            {%  assign modifier = 1.0 | minus: discount %}
            {%  assign itemPrice = item.final_line_price | times: modifier | round %}
            {% assign cartPrice = cartPrice| plus: itemPrice %}
          {%  endfor %}
          var shopifyCartPrice = {{ cartPrice }};
        {%  else %}
          var shopifyCartPrice = 0;
        {%  endif  %}
      {% endif %}

      document.addEventListener('DOMContentLoaded', function () {
        if($('#wholesale-form').length){
          $('#wholesale-form #searchForm input').change(function(){
            setTimeout(function() {
              updateWholesaleForm();
            }, 100);
          });
      
          $('.show-variants').click(function(){
            updateWholesaleForm();
          });
          
          updateWholesaleForm();
          updateWholesaleCart($('.sticky-btn__cart-total-price'),shopifyCartPrice);
  
          $('#wholesale-form .quantity').change(function(){
            updateWholesaleCart($('.sticky-btn__cart-total-price'),shopifyCartPrice);
          });
  
          $('.quantity-widget button').click(function(){
            updateWholesaleCart($('.sticky-btn__cart-total-price'),shopifyCartPrice);
          });
        }

        //remvoe subscription items from cart
        if(typeof wholesaleDiscount !== 'undefined'){
          jQuery.ajax({
            type: 'GET',
            url: '/cart.js',
            cache: false,
            dataType: 'json'
          }).done(function(cart) {
            var toUpdate = {};
            cart.items.forEach(function(item) {
              if( item.selling_plan_allocation !== null ){
                toUpdate[item.key] = 0;
              }
            });

            if(Object.keys(toUpdate).length !== 0){
              $.ajax({
                type: 'POST',
                url: '/cart/update.js',
                data: { updates: toUpdate },
                dataType: 'json'
              });
            }
          });
        }
        
      }, false);

      
      const open = window.XMLHttpRequest.prototype.open;

      function openReplacement() {
        this.addEventListener("load", function () {
          if (
            [
              "/cart/add.js",
              "/cart/update.js",
              "/cart/change.js",
              "/cart/clear.js",
            ].includes(this._url)
          ) {
            if($('#wholesale-form').length){
              var cart = JSON.parse(this.response);
              console.log(cart);
              var cartPrice = 0;
              for(var i=0; i<cart.items.length; i++){
                cartPrice += Math.round(cart.items[i].final_line_price * (1- wholesaleDiscount));
              }
              shopifyCartPrice = cartPrice;
              setTimeout(function() {
                updateWholesaleCart($('.sticky-btn__cart-total-price'), shopifyCartPrice);
              },100);
            }
          }
        });
        return open.apply(this, arguments);
      }
      
      window.XMLHttpRequest.prototype.open = openReplacement;
      
      function updateWholesaleForm(){
        if($('#wholesale-form').length){
          $('.form-widget-quantity + [class*="variants"]').each(function(){
            var variants = $(this).find('.form-widget-quantity');
            var variantIDs = [];
            variants.each(function(){
              if(variantIDs.includes($(this).data('variant-id'))) {
                $(this).hide();
              } else {
                variantIDs.push($(this).data('variant-id'));
              }
            });
          });

          for(var i=0; i<collectionMM.length; i++){
            var product = $('.products-list>div>[data-product-id="' + collectionMM[i] + '"]').parent();
            $('.products-list').append(product);
          }

          if(typeof wholesaleDiscount !== 'undefined'){
            $('.w3-hide-small .form-widget-quantity').each(function(){
              var $price = $(this).find('.quantity-widget').prev();
              updateWholesalePrice($price);
            });
            
            $('.w3-hide-small>.form-widget-quantity>div>div:nth-child(2)>.center-middle>div').each(function(){
              var $price = $(this);
              updateWholesalePrice($price, "From ");
            });
          }

          $('.w3-hide-small>[data-variant-id] + [class*="variants"] > [data-variant-id]').each(function(){
            var variantID = $(this).data('variant-id');
            var variantTitle = collectionMMVariants[variantID];
            var $title = $(this).find('.wod-form-product-name');
            if(!$title.data('variant-title')){
              $title.data('variant-title', variantTitle);
              $title.append('<span class="variant-title"> - ' + variantTitle + '</span>');
            }
          });
          
        }
      }

      var formatter = new Intl.NumberFormat('en-US', {
        style: 'currency',
        currency: 'USD',
      });
      
      function updateWholesalePrice($price, prepend){
        prepend = (typeof prepend !== 'undefined') ?  prepend : "";
        var priceString = $price.text();
        if($price.data('price')){
          priceString = $price.data('price');
        } else {
          $price.data('price', priceString);
        }
        var oldPrice = Number(priceString.replace(/[^0-9.-]+/g,""));
        var newPrice = oldPrice*(1 - wholesaleDiscount);

        newPrice = formatter.format(newPrice);
        $price.html(prepend + newPrice + ' <s>' + oldPrice + '</s>');
      }

      function updateWholesaleCart($price, cartPrice){
        console.log('update cart ');
        var priceString = $price.text();
        var price;
        if(typeof cartPrice !== 'undefined'){
          price = cartPrice/100;
          $price.data('price', price);
        } else if($price.data('price')){
          price = $price.data('price');
        } else {
          price = Number(priceString.replace(/[^0-9.-]+/g,""));
          price *= 1 - wholesaleDiscount;
          $price.data('price', price);
        }

        var newPrice = formatter.format(price);
        $price.text(newPrice);
      }
    </script>
{%- endcomment -%}