{% comment %}
  Renders a megamenu for the header.

  Usage:
  {% render 'header-mega-menu' %}
{% endcomment %}

<nav class="header__inline-menu">
  <ul class="list-menu list-menu--inline" role="list">
    {%- for link in section.settings.menu.links -%}
      <li>
        {%- if link.links != blank -%}
          <header-menu>
            <details id="Details-HeaderMenu-{{ forloop.index }}" class="mega-menu">
              <summary
                id="HeaderMenu-{{ link.handle }}"
                class="header__menu-item list-menu__item link focus-inset"
              >
                <span
                  {%- if link.child_active %}
                    class="header__active-menu-item"
                  {% endif %}
                >
                  {{- link.title | escape -}}
                </span>
                {% comment %} {{- 'icon-caret.svg' | inline_asset_content -}} {% endcomment %}
              </summary>
              <div
                id="MegaMenu-Content-{{ forloop.index }}"
                class="mega-menu__content color-{{ section.settings.menu_color_scheme }} gradient motion-reduce global-settings-popup"
                tabindex="-1"
              >
                <ul
                  class="mega-menu__list page-width{% if link.levels == 1 %} mega-menu__list--condensed{% endif %}"
                  role="list"
                >
                  {%- for childlink in link.links -%}
                    <li>
                      <a
                        id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}"
                        href="{{ childlink.url }}"
                        class="mega-menu__link mega-menu__link--level-2 link{% if childlink.current %} mega-menu__link--active{% endif %}"
                        {% if childlink.current %}
                          aria-current="page"
                        {% endif %}
                      >
                        {% if childlink.type == 'collection_link' or childlink.type == 'product_link' %}
                          {% assign object = childlink.object %}
                          {%- assign img = object.metafields.custom.menu_image -%}
                          {%- if img != blank -%}
                            <div class="mega-sub-menu-link--image-cover">
                              <img
                                class=""
                                alt="{% if img.alt != blank %}{{ img.alt }}{% else %}{{link.title}}{% endif %}"
                                src="{{ img | img_url: '360x383', crop: 'center' }}"
                                srcset="
                                  {{ img | img_url: '180x192', crop: 'center' }} 180w,
                                  {{ img | img_url: '360x383', crop: 'center' }} 360w,
                                  {{ img | img_url: '540x574', crop: 'center' }} 540w,
                                  {{ img | img_url: '720x766', crop: 'center' }} 720w,
                                  {{ img | img_url: '1200x1277', crop: 'center' }} 1200w
                                "
                                sizes="
                                  (max-width: 1199px) 20vw,
                                  (min-width: 1200px) 250px
                                "
                                loading="lazy"
                                height="231px"
                                width="271px"
                              >
                            </div>
                          {%- endif -%}
                        {% endif %}

                        <p class="mega-sub-menu-title">{{ childlink.title | escape }}</p>
                      </a>
                      {% comment %} not acceptable grand sub menus {% endcomment %}
                      {% comment %}
                        {%- if childlink.links != blank -%}
                          <ul class="list-unstyled" role="list">
                            {%- for grandchildlink in childlink.links -%}
                              <li>
                                <a
                                  id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}-{{ grandchildlink.handle }}"
                                  href="{{ grandchildlink.url }}"
                                  class="mega-menu__link link{% if grandchildlink.current %} mega-menu__link--active{% endif %}"
                                  {% if grandchildlink.current %}
                                    aria-current="page"
                                  {% endif %}
                                >
                                  {{ grandchildlink.title | escape }}
                                </a>
                              </li>
                            {%- endfor -%}
                          </ul>
                        {%- endif -%}
                      {% endcomment %}
                    </li>
                  {%- endfor -%}
                </ul>
              </div>
            </details>
          </header-menu>
        {%- else -%}
          <a
            id="HeaderMenu-{{ link.handle }}"
            href="{{ link.url }}"
            class="header__menu-item list-menu__item link link--text focus-inset"
            {% if link.current %}
              aria-current="page"
            {% endif %}
          >
            <span
              {%- if link.current %}
                class="header__active-menu-item"
              {% endif %}
            >
              {{- link.title | escape -}}
            </span>
          </a>
        {%- endif -%}
      </li>
    {%- endfor -%}
  </ul>
</nav>
