{% comment %}
  Renders a megamenu for the header.

  Usage:
  {% render 'header-mega-menu' %}
{% endcomment %}

<nav class="header__inline-menu">
  <ul class="list-menu list-menu--inline" role="list">
    {%- for link in section.settings.menu.links -%}
      <li>
        {%- if link.links != blank -%}
          <header-menu>
            <details id="Details-HeaderMenu-{{ forloop.index }}" class="mega-menu">
              <summary
                id="HeaderMenu-{{ link.handle }}"
                class="header__menu-item list-menu__item link focus-inset"
              >
                <span
                  {%- if link.child_active %}
                    class="header__active-menu-item"
                  {% endif %}
                >
                  {{- link.title | escape -}}
                </span>
                {% comment %} {{- 'icon-caret.svg' | inline_asset_content -}} {% endcomment %}
              </summary>
              <div
                id="MegaMenu-Content-{{ forloop.index }}"
                class="mega-menu__content color-{{ section.settings.menu_color_scheme }} gradient motion-reduce global-settings-popup"
                tabindex="-1"
              >
                <div class="mega-menu__content-overlay"></div>
                <!-- Add this overlay -->
                <ul
                  class="mega-menu__list page-width{% if link.levels == 1 %} mega-menu__list--condensed{% endif %}"
                  role="list"
                >
                  {%- for childlink in link.links -%}
                    <li>
                      <a
                        id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}"
                        href="{{ childlink.url }}"
                        class="mega-menu__link mega-menu__link--level-2 link{% if childlink.current %} mega-menu__link--active{% endif %}"
                        {% if childlink.current %}
                          aria-current="page"
                        {% endif %}
                      >
                        {% if childlink.type == 'collection_link'
                          or childlink.type == 'product_link'
                          or childlink.type == 'page_link'
                        %}
                          {% assign object = childlink.object %}
                          {%- assign img = object.metafields.custom.menu_image -%}
                          {% if link.title == 'Cats' and object.metafields.custom.menu_image_for_cat %}
                            {%- assign img = object.metafields.custom.menu_image_for_cat -%}
                          {% endif %}
                          {%- if img != blank -%}
                            <div class="mega-sub-menu-link--image-cover">
                              <img
                                class=""
                                alt="{% if img.alt != blank %}{{ img.alt }}{% else %}{{link.title}}{% endif %}"
                                src="{{ img | img_url: '360x383', crop: 'center' }}"
                                srcset="
                                  {{ img | img_url: '180x192', crop: 'center' }} 180w,
                                  {{ img | img_url: '360x383', crop: 'center' }} 360w,
                                  {{ img | img_url: '540x574', crop: 'center' }} 540w,
                                  {{ img | img_url: '720x766', crop: 'center' }} 720w,
                                  {{ img | img_url: '1200x1277', crop: 'center' }} 1200w
                                "
                                sizes="
                                  (max-width: 1199px) 20vw,
                                  (min-width: 1200px) 250px
                                "
                                loading="lazy"
                                height="231px"
                                width="271px"
                              >
                            </div>
                          {% else %}
                            <div class="mega-sub-menu-link--image-cover">
                              {{ 'collection-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
                            </div>
                          {%- endif -%}
                        {% endif %}

                        <p class="mega-sub-menu-title">{{ childlink.title | escape }}</p>
                      </a>
                      {% comment %} not acceptable grand sub menus {% endcomment %}
                      {% comment %}
                        {%- if childlink.links != blank -%}
                          <ul class="list-unstyled" role="list">
                            {%- for grandchildlink in childlink.links -%}
                              <li>
                                <a
                                  id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}-{{ grandchildlink.handle }}"
                                  href="{{ grandchildlink.url }}"
                                  class="mega-menu__link link{% if grandchildlink.current %} mega-menu__link--active{% endif %}"
                                  {% if grandchildlink.current %}
                                    aria-current="page"
                                  {% endif %}
                                >
                                  {{ grandchildlink.title | escape }}
                                </a>
                              </li>
                            {%- endfor -%}
                          </ul>
                        {%- endif -%}
                      {% endcomment %}
                    </li>
                  {%- endfor -%}
                </ul>
              </div>
            </details>
          </header-menu>
        {%- else -%}
          <a
            id="HeaderMenu-{{ link.handle }}"
            href="{{ link.url }}"
            class="header__menu-item list-menu__item link link--text focus-inset"
            {% if link.current %}
              aria-current="page"
            {% endif %}
          >
            <span
              {%- if link.current %}
                class="header__active-menu-item"
              {% endif %}
            >
              {{- link.title | escape -}}
            </span>
          </a>
        {%- endif -%}
      </li>
    {%- endfor -%}
  </ul>
</nav>

<style>
  .mega-menu__content::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Prevent interaction with the pseudo-element */
  }

  .mega-menu__content-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent; /* Invisible overlay */
    z-index: 1; /* Ensure it is above the content */
  }
</style>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const items = document.querySelectorAll('.mega-menu');

    items.forEach((item) => {
      const content = item.querySelector('.mega-menu__content');
      const overlay = item.querySelector('.mega-menu__content-overlay');

      item.addEventListener('mouseover', () => {
        // Close all other mega menus
        items.forEach((otherItem) => otherItem.removeAttribute('open'));

        // Open the current mega menu
        item.setAttribute('open', true);
      });

      item.addEventListener('mouseleave', () => {
        let close = true;

        // Check if the mouse is still over the content
        if (content) {
          const onContentMouseOver = () => {
            close = false;
            content.removeEventListener('mouseover', onContentMouseOver);
          };
          content.addEventListener('mouseover', onContentMouseOver);
        }

        // Close the menu after a delay if the mouse is not over the content
        setTimeout(() => {
          if (close) {
            item.removeAttribute('open');
          }
        }, 300);
      });

      if (overlay) {
        overlay.addEventListener('mouseover', () => {
          // Close the menu when hovering over the overlay
          item.removeAttribute('open');
        });
      }

      if (content) {
        content.addEventListener('mouseleave', () => {
          item.removeAttribute('open');
        });
      }
    });
  });
</script>
