{% comment %}
  Renders social icons.
  Accepts:
  - class: {String} a class to be added to the <ul> element (optional).

  Usage:
  {% render 'social-icons',
    class: 'my-class'
  %}
{% endcomment %}

<ul class="list-unstyled list-social{% if class %} {{ class}}{% endif %}" role="list">
  {%- if settings.social_facebook_link != blank -%}
    <li class="list-social__item">
      <a target="_blank" href="{{ settings.social_facebook_link }}" class="link list-social__link">
        <span class="svg-wrapper">
          <svg xmlns="http://www.w3.org/2000/svg" width="41" height="41" viewBox="0 0 41 41" fill="none">
            <g clip-path="url(#clip0_9529_1668)">
              <path d="M20.5 41C16.4455 41 12.482 39.7977 9.11082 37.5451C5.73961 35.2926 3.11208 32.0909 1.56048 28.345C0.00888225 24.5991 -0.397086 20.4773 0.393911 16.5007C1.18491 12.524 3.13734 8.8713 6.00432 6.00432C8.8713 3.13734 12.524 1.18491 16.5007 0.393911C20.4773 -0.397086 24.5991 0.00888225 28.345 1.56048C32.0909 3.11208 35.2926 5.73961 37.5451 9.11082C39.7977 12.482 41 16.4455 41 20.5C40.9941 25.9351 38.8324 31.1459 34.9892 34.9892C31.1459 38.8324 25.9351 40.9941 20.5 41ZM20.5 0.685827C16.5811 0.685827 12.7503 1.84791 9.49184 4.02512C6.23341 6.20233 3.69378 9.29688 2.19409 12.9175C0.694404 16.538 0.302017 20.522 1.06655 24.3656C1.83109 28.2091 3.7182 31.7397 6.48927 34.5107C9.26033 37.2818 12.7909 39.1689 16.6345 39.9335C20.478 40.698 24.462 40.3056 28.0826 38.8059C31.7031 37.3062 34.7977 34.7666 36.9749 31.5082C39.1521 28.2498 40.3142 24.4189 40.3142 20.5C40.3083 15.2468 38.2188 10.2104 34.5042 6.4958C30.7896 2.78121 25.7532 0.691747 20.5 0.685827Z" fill="black"/>
              <path d="M18.2194 29.9081H21.8423V20.8732H24.3694L24.6377 17.8392H21.8423V16.0725C21.8423 15.327 21.9839 15.0736 22.6772 15.0736H24.6377V11.9277H22.133C19.4345 11.9277 18.2194 13.113 18.2194 15.3866V17.8094H16.3408V20.8732H18.2268L18.2194 29.9081Z" fill="black"/>
            </g>
            <defs>
              <clipPath id="clip0_9529_1668">
                <rect width="41" height="41" fill="white"/>
              </clipPath>
            </defs>
          </svg>
        </span>
        <span class="visually-hidden">{{ 'general.social.links.facebook' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_youtube_link != blank -%}
    <li class="list-social__item">
      <a target="_blank" href="{{ settings.social_youtube_link }}" class="link list-social__link">
        <span class="svg-wrapper">
          <svg xmlns="http://www.w3.org/2000/svg" width="41" height="41" viewBox="0 0 41 41" fill="none">
            <g clip-path="url(#clip0_9529_1671)">
              <path d="M20.5 0C16.4455 0 12.482 1.2023 9.11082 3.45487C5.73961 5.70744 3.11208 8.9091 1.56048 12.655C0.00888225 16.4009 -0.397086 20.5227 0.393911 24.4994C1.18491 28.476 3.13734 32.1287 6.00432 34.9957C8.8713 37.8627 12.524 39.8151 16.5007 40.6061C20.4773 41.3971 24.5991 40.9911 28.345 39.4395C32.0909 37.8879 35.2926 35.2604 37.5451 31.8892C39.7977 28.518 41 24.5545 41 20.5C40.9921 15.0655 38.8298 9.85581 34.987 6.01302C31.1442 2.17024 25.9345 0.00788755 20.5 0ZM20.5 40.2545C16.5993 40.2501 12.7873 39.0897 9.54582 36.9198C6.30431 34.7499 3.77866 31.6679 2.28795 28.0632C0.797239 24.4585 0.408361 20.4929 1.17044 16.6673C1.93253 12.8417 3.81138 9.32786 6.56963 6.56962C9.32787 3.81137 12.8418 1.93252 16.6673 1.17043C20.4929 0.408352 24.4586 0.79723 28.0632 2.28794C31.6679 3.77865 34.7499 6.3043 36.9198 9.54581C39.0897 12.7873 40.2501 16.5993 40.2546 20.5C40.2526 25.7386 38.1707 30.7621 34.4664 34.4664C30.7621 38.1707 25.7386 40.2526 20.5 40.2545ZM17.5182 15.9975L25.4498 20.5075L17.548 25.0025L17.5182 15.9975ZM31.5402 15.334C31.406 14.634 31.0566 13.9934 30.5408 13.5016C30.0249 13.0098 29.3683 12.6913 28.6627 12.5907C27.8112 12.4497 26.9527 12.3551 26.0909 12.3075C24.0409 12.2255 22.3636 12.1807 20.8056 12.1733C19.2476 12.1658 17.7716 12.2105 16.2882 12.2553H15.8335C14.7008 12.278 13.5705 12.3701 12.4491 12.5311C11.8574 12.5893 11.2913 12.8016 10.8073 13.1469C10.3233 13.4923 9.9384 13.9585 9.69092 14.4991C9.50899 14.9128 9.38363 15.349 9.31819 15.7962C9.0879 17.2507 8.97819 18.7218 8.99019 20.1944C8.99019 20.9995 8.99019 21.812 9.05728 22.5947V22.8482C9.08666 23.7495 9.18887 24.647 9.36292 25.5318C9.48147 26.289 9.84816 26.9854 10.4054 27.5116C10.9627 28.0378 11.6789 28.3641 12.4416 28.4391C13.4704 28.5658 14.514 28.6553 15.5576 28.7C16.6013 28.7447 17.8611 28.7745 18.9346 28.7969H20.2242H21.5213C22.4158 28.7969 23.2433 28.7969 24.0633 28.7373C25.3455 28.6925 26.6202 28.6031 27.7906 28.5211C28.3529 28.5082 28.9083 28.3946 29.4306 28.1856C29.9822 27.9559 30.4658 27.5886 30.8352 27.1188C31.2045 26.649 31.4472 26.0923 31.5402 25.502C31.7056 24.5778 31.8127 23.6442 31.8607 22.7065C31.9508 21.217 31.9508 19.7234 31.8607 18.2338C31.8368 17.2539 31.7396 16.2771 31.57 15.3116L31.5402 15.334ZM30.3549 22.6469C30.3145 23.517 30.2174 24.3836 30.0642 25.2411C30.019 25.5864 29.8826 25.9135 29.669 26.1886C29.4554 26.4638 29.1724 26.6771 28.8491 26.8065C28.4849 26.937 28.1026 27.0099 27.716 27.0227C26.5307 27.0973 25.2709 27.1867 23.9887 27.2315C23.1762 27.2315 22.3711 27.2762 21.484 27.2911H20.2167H18.9495C17.8909 27.2911 16.7504 27.2464 15.6098 27.1942C14.6109 27.1495 13.6046 27.0675 12.628 26.9407C12.1847 26.9095 11.766 26.725 11.4437 26.4191C11.1214 26.1131 10.9155 25.7046 10.8613 25.2635C10.7049 24.4545 10.6127 23.6344 10.5855 22.8109V22.5575C10.5482 21.812 10.5184 21.0069 10.5258 20.2391C10.5096 18.8491 10.6093 17.4603 10.824 16.0869C10.8696 15.7742 10.9548 15.4686 11.0775 15.1775C11.2129 14.861 11.434 14.5887 11.7159 14.3912C11.9977 14.1936 12.3291 14.0787 12.6727 14.0593C13.7299 13.9077 14.7955 13.823 15.8633 13.8058H16.318C17.6896 13.7685 19.106 13.7238 20.5 13.7238H20.7907C22.3189 13.7238 23.9813 13.776 26.0089 13.858C26.835 13.8986 27.6585 13.9807 28.4764 14.104C28.8727 14.1569 29.2414 14.3364 29.5275 14.6158C29.8136 14.8952 30.0019 15.2595 30.0642 15.6545C30.2448 16.5463 30.352 17.4513 30.3847 18.3605C30.4664 19.7807 30.4664 21.2044 30.3847 22.6245L30.3549 22.6469Z" fill="black"/>
            </g>
            <defs>
              <clipPath id="clip0_9529_1671">
                <rect width="41" height="41" fill="white"/>
              </clipPath>
            </defs>
          </svg>
        </span>
        <span class="visually-hidden">{{ 'general.social.links.youtube' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_instagram_link != blank -%}
    <li class="list-social__item">
      <a target="_blank" href="{{ settings.social_instagram_link }}" class="link list-social__link">
        <span class="svg-wrapper">
          <svg xmlns="http://www.w3.org/2000/svg" width="41" height="41" viewBox="0 0 41 41" fill="none">
            <g clip-path="url(#clip0_9529_1673)">
              <path d="M20.5 41C16.4455 41 12.482 39.7977 9.11082 37.5451C5.73961 35.2926 3.11208 32.0909 1.56048 28.345C0.00888225 24.5991 -0.397086 20.4773 0.393911 16.5007C1.18491 12.524 3.13734 8.8713 6.00432 6.00432C8.8713 3.13734 12.524 1.18491 16.5007 0.393911C20.4773 -0.397086 24.5991 0.00888225 28.345 1.56048C32.0909 3.11208 35.2926 5.73961 37.5451 9.11082C39.7977 12.482 41 16.4455 41 20.5C40.9941 25.9351 38.8324 31.1459 34.9892 34.9892C31.1459 38.8324 25.9351 40.9941 20.5 41ZM20.5 0.685827C16.5811 0.685827 12.7503 1.84791 9.49184 4.02512C6.23341 6.20233 3.69378 9.29688 2.19409 12.9175C0.694404 16.538 0.302017 20.522 1.06655 24.3656C1.83109 28.2091 3.7182 31.7397 6.48927 34.5107C9.26033 37.2818 12.7909 39.1689 16.6345 39.9335C20.478 40.698 24.462 40.3056 28.0826 38.8059C31.7031 37.3062 34.7977 34.7666 36.9749 31.5082C39.1521 28.2498 40.3142 24.4189 40.3142 20.5C40.3083 15.2468 38.2188 10.2104 34.5042 6.4958C30.7896 2.78121 25.7532 0.691747 20.5 0.685827Z" fill="black"/>
              <path d="M20.523 14.2303C22.6997 14.2303 22.9606 14.2303 23.8179 14.275C24.3273 14.2848 24.8313 14.3806 25.3088 14.5583C25.6611 14.6942 25.9811 14.9024 26.2482 15.1694C26.5152 15.4365 26.7234 15.7565 26.8593 16.1088C27.0372 16.5862 27.1329 17.0903 27.1426 17.5997C27.1799 18.457 27.1873 18.7179 27.1873 20.8946C27.1873 23.0714 27.1873 23.3323 27.1426 24.1895C27.1329 24.6989 27.0372 25.203 26.8593 25.6804C26.7337 26.0388 26.534 26.3667 26.2733 26.6429C26.0126 26.919 25.6967 27.1372 25.3461 27.2832C24.8695 27.4659 24.3654 27.5668 23.8552 27.5814C22.9979 27.6186 22.737 27.6261 20.5603 27.6261C18.3835 27.6261 18.1226 27.6261 17.2653 27.5814C16.756 27.5715 16.2519 27.4758 15.7744 27.2981C15.4096 27.1676 15.0771 26.9604 14.7993 26.6903C14.5215 26.4202 14.3049 26.0936 14.1643 25.7326C13.9864 25.2552 13.8907 24.7511 13.881 24.2417C13.8437 23.3844 13.8363 23.1235 13.8363 20.9468C13.8363 18.7701 13.8363 18.5092 13.881 17.6519C13.8907 17.1425 13.9864 16.6384 14.1643 16.161C14.3002 15.8086 14.5084 15.4887 14.7754 15.2216C15.0425 14.9546 15.3625 14.7464 15.7148 14.6104C16.1923 14.4328 16.6963 14.337 17.2057 14.3272C18.063 14.2899 18.3239 14.2824 20.5006 14.2824M20.5006 12.7915C18.2643 12.7915 18.0108 12.7915 17.1386 12.8437C16.4608 12.8568 15.7903 12.9854 15.1557 13.2239C14.614 13.4337 14.122 13.7542 13.7113 14.1649C13.3005 14.5757 12.98 15.0677 12.7703 15.6094C12.5317 16.2439 12.4032 16.9145 12.3901 17.5923C12.3528 18.4644 12.3379 18.7403 12.3379 20.9543C12.3379 23.1683 12.3379 23.4441 12.3901 24.3163C12.4032 24.994 12.5317 25.6646 12.7703 26.2992C12.98 26.8409 13.3005 27.3328 13.7113 27.7436C14.122 28.1544 14.614 28.4749 15.1557 28.6846C15.7903 28.9231 16.4608 29.0517 17.1386 29.0648C18.0108 29.1021 18.2866 29.117 20.5006 29.117C22.7146 29.117 22.9904 29.117 23.8626 29.0648C24.5404 29.0517 25.211 28.9231 25.8455 28.6846C26.3875 28.4753 26.8796 28.1549 27.2904 27.7441C27.7013 27.3333 28.0216 26.8411 28.231 26.2992C28.4695 25.6646 28.5981 24.994 28.6112 24.3163C28.6484 23.4441 28.6633 23.1683 28.6633 20.9543C28.6633 18.7403 28.6633 18.4644 28.6112 17.5923C28.5981 16.9145 28.4695 16.2439 28.231 15.6094C28.0216 15.0674 27.7013 14.5752 27.2904 14.1644C26.8796 13.7536 26.3875 13.4333 25.8455 13.2239C25.2104 12.9744 24.5372 12.8357 23.8552 12.8139C22.983 12.7766 22.7072 12.7617 20.4932 12.7617" fill="black"/>
              <path d="M20.5223 16.7354C19.6937 16.7354 18.8838 16.9811 18.1948 17.4414C17.5059 17.9017 16.9689 18.556 16.6518 19.3216C16.3347 20.0871 16.2517 20.9295 16.4134 21.7421C16.575 22.5548 16.974 23.3013 17.56 23.8872C18.1459 24.4731 18.8923 24.8721 19.705 25.0338C20.5177 25.1954 21.3601 25.1124 22.1256 24.7954C22.8911 24.4783 23.5454 23.9413 24.0057 23.2523C24.4661 22.5634 24.7118 21.7534 24.7118 20.9248C24.7118 20.3746 24.6034 19.8299 24.3929 19.3216C24.1824 18.8133 23.8738 18.3514 23.4847 17.9624C23.0957 17.5734 22.6339 17.2648 22.1256 17.0543C21.6173 16.8437 21.0725 16.7354 20.5223 16.7354ZM20.5223 23.6457C19.9842 23.6457 19.4581 23.4861 19.0107 23.1872C18.5632 22.8882 18.2145 22.4632 18.0085 21.9661C17.8026 21.4689 17.7487 20.9218 17.8537 20.394C17.9587 19.8662 18.2178 19.3814 18.5984 19.0008C18.9789 18.6203 19.4637 18.3612 19.9915 18.2562C20.5193 18.1512 21.0664 18.2051 21.5636 18.411C22.0608 18.617 22.4857 18.9657 22.7847 19.4132C23.0837 19.8606 23.2433 20.3867 23.2433 20.9248C23.2433 21.6464 22.9566 22.3385 22.4463 22.8488C21.936 23.359 21.244 23.6457 20.5223 23.6457Z" fill="black"/>
              <path d="M25.8525 16.5644C25.8525 16.7576 25.7952 16.9464 25.6879 17.107C25.5806 17.2676 25.4281 17.3927 25.2497 17.4666C25.0712 17.5406 24.8749 17.5599 24.6854 17.5222C24.496 17.4845 24.322 17.3915 24.1854 17.255C24.0489 17.1184 23.9559 16.9444 23.9182 16.755C23.8805 16.5655 23.8998 16.3692 23.9737 16.1907C24.0477 16.0123 24.1728 15.8598 24.3334 15.7525C24.494 15.6452 24.6828 15.5879 24.876 15.5879C25.135 15.5879 25.3833 15.6908 25.5665 15.8739C25.7496 16.0571 25.8525 16.3054 25.8525 16.5644Z" fill="black"/>
            </g>
            <defs>
              <clipPath id="clip0_9529_1673">
                <rect width="41" height="41" fill="white"/>
              </clipPath>
            </defs>
          </svg>
        </span>
        <span class="visually-hidden">{{ 'general.social.links.instagram' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_tiktok_link != blank -%}
    <li class="list-social__item">
      <a target="_blank" href="{{ settings.social_tiktok_link }}" class="link list-social__link">
        <span class="svg-wrapper">
          {{- 'icon-tiktok.svg' | inline_asset_content -}}
        </span>
        <span class="visually-hidden">{{ 'general.social.links.tiktok' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_twitter_link != blank -%}
    <li class="list-social__item">
      <a target="_blank" href="{{ settings.social_twitter_link }}" class="link list-social__link">
        <span class="svg-wrapper">
          {{- 'icon-twitter.svg' | inline_asset_content -}}
        </span>
        <span class="visually-hidden">{{ 'general.social.links.twitter' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_pinterest_link != blank -%}
    <li class="list-social__item">
      <a target="_blank" href="{{ settings.social_pinterest_link }}" class="link list-social__link">
        <span class="svg-wrapper">
          {{- 'icon-pinterest.svg' | inline_asset_content -}}
        </span>
        <span class="visually-hidden">{{ 'general.social.links.pinterest' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_snapchat_link != blank -%}
    <li class="list-social__item">
      <a target="_blank" href="{{ settings.social_snapchat_link }}" class="link list-social__link">
        <span class="svg-wrapper">
          {{- 'icon-snapchat.svg' | inline_asset_content -}}
        </span>
        <span class="visually-hidden">{{ 'general.social.links.snapchat' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_tumblr_link != blank -%}
    <li class="list-social__item">
      <a target="_blank" href="{{ settings.social_tumblr_link }}" class="link list-social__link">
        <span class="svg-wrapper">
          {{- 'icon-tumblr.svg' | inline_asset_content -}}
        </span>
        <span class="visually-hidden">{{ 'general.social.links.tumblr' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_vimeo_link != blank -%}
    <li class="list-social__item">
      <a target="_blank" href="{{ settings.social_vimeo_link }}" class="link list-social__link">
        <span class="svg-wrapper">
          {{- 'icon-vimeo.svg' | inline_asset_content -}}
        </span>
        <span class="visually-hidden">{{ 'general.social.links.vimeo' | t }}</span>
      </a>
    </li>
  {%- endif -%}
</ul>
